<html>
	<head>
		<script type="text/javascript" src="underscore-1.7.0.min.js"></script>
		<script type="text/javascript" src="jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<link rel="stylesheet" href="style.css">

		<title>Sudoku Application</title>
	</head>

	<body>

		<h1>Let's solve this Sudoku!</h1>
		<div class="board-container">
			<div id="board" class="board">
			</div>
		</div>

    	<input type="button" onclick="exampleFunction()" value="example alert">

		<script type="text/template" class="table">

			<% for (var row in rc.board) { %>
				<div class="board-row">
					<% for (col in rc.board[row]) { %>
						<a class="board-cell">
							<div class="cell-box">
								<div class="cell-content-table">
									<div class="cell-content-table-cell">
										<% if (rc.board[row][col]) { %>
											<%= rc.board[row][col] %>
										<% } %>
									</div>
								</div>
							</div>
						</a>
					<% } %>
				</div>
			<% } %>

		</script>
	</body>
</html>