<html>
	<head>
		<script type="text/javascript" src="underscore-1.7.0.min.js"></script>
		<script type="text/javascript" src="jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<!--script type="text/javascript" src="view.js"></script-->
		<link rel="stylesheet" href="style.css">

		<title>Sudoku Application</title>
	</head>

	<body>

		<h1>Let's solve this Sudoku!</h1>
		<div class="board-container">
			<div id="board" class="board">
			</div>
		</div>

		<div class="board-container">
			<div id="number" class="board">
			</div>
		</div>

    	<input type="button" id="restartBtn" value="Restart">
    	<input type="button" id="eraseBtn" value="Erase">

		<script type="text/template" class="sudokuBoard">

			<% for (var row in rc.board) { %>
				<div class="board-row">
					<% for (var col in rc.board[row]) { %>
						<a class="board-cell">
							<div class="cell-box">
								<div class="cell-content-table">
									<div class="cell-content-table-cell">
										<% if (rc.board[row][col]) { %>
											<%= rc.board[row][col] %>
										<% } %>
									</div>
								</div>
							</div>
						</a>
					<% } %>
				</div>
			<% } %>

		</script>

		<script type="text/template" class="numberBoard">
			<div class="board-row">
				<% for (var i in rc.number) {%>
					<a class="board-cell num">
						<div class="cell-box">
							<div class="cell-content-table">
								<div class="cell-content-table-cell">
									<%= rc.number[i] %>
								</div>
							</div>
						</div>
					</a>
				<% } %>
			</div>
		</script>
	</body>
</html>