@media (min-width: 320px) {
	body {
		width: 90%;
	}

	.board-container {
		font-size: 6vw;
	}
}

@media (min-width: 992px) {
	body {
		width: 60%;
	}

	.board-container {
		font-size: 4vw;
	}
}

@media (min-width: 1200px) {
	body {
		width: 30%;
	}

	.board-container {
		font-size: 2vw;
	}
}

body {
	color: black;
	font-family: monospace;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.preset {
	background-color: #E3E3ED;
}

.selected {
	background-color: #333366;
	color: white;
}

.wrong {
	color: red;
}

a:not(.preset):hover {
	background-color: #FFCCCC;
	cursor: pointer;
}

a.num {
	background-color: #FFFF99;
}

a.num:hover {
	background-color: #33ADAD;
}

.board-container {
	padding-bottom: 5vh;
	width: 100%;
	font-weight: bold;
}

.board {
	width: 100%;
	border: 1px solid black;
	display: table;
}

.board#number {
	border: 3px double black;
}

.board .board-row {
	clear: both;
	width: 100%;
	display: table-row;
}

.board .board-row .board-cell {
	position: relative;
	width: 10%;
	padding-bottom: 10%;
	border: 1px solid black;
	display: table-cell;
}

.board .board-row .board-cell .cell-box {
	position: absolute;
	height: 100%;
	width: 100%;
}

.board .board-row .board-cell .cell-box .cell-content-table {
	display: table;
	width: 100%;
	height: 100%;
}

.board .board-row .board-cell .cell-box .cell-content-table .cell-content-table-cell {
	display: table-cell;
	vertical-align: middle;
}

#board .board-row:nth-child(1) .board-cell {
	border-top-width: 3px;
}

#board .board-row:nth-child(3) .board-cell,
#board .board-row:nth-child(6) .board-cell,
#board .board-row:nth-child(9) .board-cell {
	border-bottom-width: 3px;
}

#board .board-row .board-cell:nth-child(1) {
	border-left-width: 3px;
}

#board .board-row .board-cell:nth-child(3),
#board .board-row .board-cell:nth-child(6),
#board .board-row .board-cell:nth-child(9) {
	border-right-width: 3px;
}

.button-group {
	width: 100%;
	display: table;
}

.button-group .button-cell {
	width: 50%;
	display: table-cell;
}

.button-group .button-cell .button {
	width: 60%;
	background-color: #E85A5A;
	border-radius: 4px;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
}

.button-group .button-cell .button .button-text {
	font-weight: bold;
	color: #fff;
	display: block;
}
